
.helloworld .shopping{
    position: relative;
    top: -70px;
}
.particulars{
    width: 300px;
    height: 100px;
    margin: 10px auto;
    background-image: url("../img/xiangqing.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    line-height: 90px;
    text-align: center;
    font-size: 35px;
    color: #cc0000;
    font-weight: 600;
    font-family:宋体;
}
.details{
    width: 1200px;
    height: 400px;
    margin: 20px auto;
    border: 2px solid #cc0000;
    border-left: none;
    border-right: none;
}
.helloworld .logo{
    clear: both;
}
#cat .blank{
    width: 60px;
    height: 40px;
    float: left
}